allow hal_ir_default lirc_device:chr_file rw_file_perms;
allow hal_ir_default sysfs_leds:dir search;
allow hal_ir_default sysfs_leds:lnk_file read;
allow hal_ir_default sysfs:file { read write open };
