[project]
	description = Device Tree for Xiaomi Redmi 3S (land)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shubham Das (dasshubham762)
[access "refs/for/refs/*"]
	read = group user/Shubham Das (dasshubham762)
	push = group user/Shubham Das (dasshubham762)
	label-Code-Review = -2..+2 group user/Shubham Das (dasshubham762)
	label-Verified = -1..+1 group user/Shubham Das (dasshubham762)
	rebase = group user/Shubham Das (dasshubham762)
	removeReviewer = group user/Shubham Das (dasshubham762)
	submit = group user/Shubham Das (dasshubham762)
[access "refs/heads/*"]
	read = group user/Shubham Das (dasshubham762)
	create = group user/Shubham Das (dasshubham762)
	push = +force group user/Shubham Das (dasshubham762)
	pushMerge = group user/Shubham Das (dasshubham762)
[access "refs/tags/*"]
	push = group user/Shubham Das (dasshubham762)
	push = +force group user/Shubham Das (dasshubham762)
